
<!doctype html>
<html>
<head>
    <title>Hello Stranger</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='greeting.css')}}"> 
</head>

<body>
<div>
    <h1>CLICK on any of the links</h1>
    <p><a href="http://localhost:5000/login">Login page</a></p>
    <p><a href="http://localhost:5000/">Back to home</a></p>
</div>
</body>
</html>
